# macOS system files
.DS_Store

# Rust build artifacts
/target/
**/target/
dist/
tmp/
*.lock

# IDE / editor files
.idea/
.vscode/
.zed/
.trunk/
*.iml
out/
.devcontainer/
*.code-workspace

# Environment / secrets
.env
.env.*

# WebAssembly build outputs
*.wasm

# OS / binaries (optional, usually unnecessary)
*.exe
*.dll
*.so
*.dylib

# Optional local artifacts
*.log

# other
ROADMAP.md
ROADMAP_2.md
**.txt
